.body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #afb3b2;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 400px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.container__rezalts {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1), inset -2px -2px 5px rgba(255, 255, 255, 0.7);
    padding: 20px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #333;
    height: 70px;
    overflow: hidden;
    grid-column: span 4;
}

.container__button {
    background-color: #f0f0f0;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.container__button:hover {
    background-color: #e0e0e0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.container__button:active {
    transform: translateY(2px);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.col-dwa {
    grid-column: span 2;
}

.row-dwa {
    grid-row: span 2;
}