.container {
    margin: 25px auto;
    width: 350px;
    height: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    min-height: 70vh;
    box-shadow: 9px 9px 20px #04155e;
    border-radius: 20px;
    padding: 20px;
}


.container__rezalts {
    grid-column: 1 / -1;
    background-color: #324f6d;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    box-shadow: #ddd;
    word-wrap: break-word;
    word-break: break-all;
    color: whitesmoke;
    border-radius: 10px 10px 0 0;
}

.container__previousAction {
    font-size: 16px;
    font-weight: 400;
    color: whitesmoke;
}

.container__currentAction {
    font-size: 30px;
    color: whitesmoke;
}

.container__delete {
    background-color: #99b0cb;
}

button {
    cursor: pointer;
    border: 1px solid rgba(136, 14, 79, 0.1);
    background: #c4daf3;
    outline: none;
    color: #000000;
    font-size: 30px;
}

button:hover {
    background: whitesmoke;
    transition: all 0.3s;
}

.col-dwa {
    grid-column: span 2;
    background-color: #99b0cb;
}

.row-dwa {
    grid-row: span 2;
    background-color: #324f6d;
    color: white;
}

.row-dwa:hover {
    color: #000000;
}

.container__operator {
    background-color: #99b0cb;
    color: white;
}

.container__operator:hover {
    color: #000000;
}