.body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #8a9ad6;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 400px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.container__rezalts {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1), inset -2px -2px 5px rgba(255, 255, 255, 0.7);
    padding: 20px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #333;
    height: 70px;
    overflow: hidden;
    grid-column: span 4;
}

.container__button {
    background-color: #ffffff;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.container__button:hover {
    background-color: #e0e0e0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.container__button:active {
    transform: translateY(2px);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.container__operator {
    background-color: #4c5ea5;
    color: whitesmoke;
}

.container__operator:active {
    color: black;
}

.container__operator:hover {
    color: #333;
}

.container__delete {
    background-color: #ff6f61;
}

.col-dwa {
    grid-column: span 2;
    background-color: #ff6f61;
}

.container__equals {
    grid-column: span 2;
    background-color: #3b9a76;
    color: #ffffff;
}

.container__equals:hover {
    color: #333;
}


.extra__operators {
    position: absolute;
    top: -422px;
    left: 461%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #8a9ad6;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 10;
}

.container_extra {
    position: relative;
}

.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.container__toggle {
    background-color: #4c5ea5;
    color: white;
    grid-column: span 4;
}

.container__extra {
    position: relative;
}